@{
    ViewBag.Title = "Sale Budget Management System";
}

<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center">Welcome to Sale Budget Management System!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row states-info">
        <div class="col-md-3">
            <div class="panel red-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">MARCH BUDGET</span>
                            <h4>$2,000,000</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel blue-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">HOSPITAL & PHARMACY</span>
                            <h4>2,980</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel green-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-buysellads"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">MARCH ACTIVITY</span>
                            <h4>115</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel yellow-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">LAST LOGIN</span>
                            <h4 title="(11:20 AM - 2015/03/31)">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>