<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="Log" fileName="${basedir}/Logs/AppLog_${date:format=yyyy-MM-dd}.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="ExceptionLog" fileName="${basedir}/Logs/ExceptionLog_${date:format=yyyy-MM-dd}.log"                
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${message}${onexception:inner=${newline}${newline}${newline}${exception:format=tostring}${newline}${stacktrace:topFrames=10}}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="Log" />
    <logger name="*" minlevel="Error" writeTo="ExceptionLog" />
  </rules>
</nlog>